// ------------------------------ Container -------------------------------
/*** Container ***/
.header-container {
  width: 100%;
  background-color: var(--dark);
  display: block;
  padding: 0 5rem;
}

// ------------------------------ Header -------------------------------
/*** Header Left ***/
.header-wrapper-left {
  display: inline-flex;
  align-items: center;
  height: 4.5rem;
}

/*** Icon text wrapper ***/
.icon-text-wrapper {
  display: flex;
  align-items: center;
}

/*** Header Right ***/
.header-wrapper-right {
  display: inline-flex;
  align-items: center;
  height: 4.5rem;
}

/*** Icon Social ***/
.icon-social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  margin-right: 0.8rem;

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    margin-right: 0;
  }
}

// ------------------------------ Navbar -------------------------------
/*** Navbar ***/
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 5rem;
}

.navbar-light {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  color: rgb(255, 255, 255);

  &.shadowNoScroll {
    box-shadow:
      0 0 0.6rem rgba(255, 255, 255, 0.3),
      0 0 0 rgba(255, 255, 255, 0.2);
  }

  &.shadowScroll {
    box-shadow:
      0 0 0.6rem rgba(0, 0, 0, 0.3),
      0 0 0 rgba(0, 0, 0, 0.2);
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-logo-white {
      max-height: 8rem;
      transition: 0.5s;
    }

    .nav-logo-black {
      max-height: 6.8rem;
      transition: 0.5s;
    }
  }
}

/*** Navbar Scroll ***/
.stickyTop {
  &.navbar-light {
    .nav-link-item {
      padding: 2rem 2.6rem;
      color: var(--dark);
    }
  }
}

.stickyTop {
  &.navbar-light {
    position: fixed;
    background: #ffffff;
  }
}

/*** Navbar Link ***/
.navbar-link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*** Navbar Button ***/
.navbar-link-list {
  display: flex;
  flex-direction: row;

  .nav-link-item {
    position: relative;
    margin-right: 2.6rem;
    padding: 3rem 2.3rem;
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    outline: none;
    transition: 0.5s;

    &::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0.2rem;
      bottom: -0.1rem;
      left: 50%;
      background: var(--primary);
      transition: 0.5s;
    }

    &:hover {
      color: var(--text-nav-link);
    }

    &.active {
      color: var(--text-nav-link);
    }

    &:hover::before,
    &.active::before {
      width: calc(100% - 0.2rem);
      left: 0.1rem;
    }
  }
}

// ------------------------------ Hero -------------------------------
.hero-header {
  background: linear-gradient(rgba(20, 20, 31, 0.8), rgba(20, 20, 31, 0.8)),
    url(../../../assets/images/Layout/Navbar/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4.8rem;
  padding: 8rem 0;
}

.bg-hero-breadcrumb-item {
  font-size: 2rem;

  & + .bg-hero-breadcrumb-item {
    &::before {
      color: rgba(219, 219, 219, 0.5) !important;
    }
  }
}

.bg-hero-title {
  font-weight: 700;
  color: var(--white);
  font-size: 6rem;
  margin-bottom: 2rem;
}

.bg-hero-sub-title {
  color: var(--white);
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.bg-hero-input-search {
  font-size: 1.6rem;
  padding: 1.6rem 4.8rem 1.6rem 2.4rem;
}

.bg-hero-btn-search {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
