.header-wrapper {
  position: relative;
  width: 100%;
  height: 0;

  .header-content {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    transition: 1s;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 5rem;
    height: 8rem;
    background-color: var(--white);
    border-bottom: 0.06rem solid #ccc;
    box-shadow:
      0 0.2rem 2rem rgba(0, 0, 0, 0.3),
      0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);

    .school-name {
      display: flex;
      align-items: center;
      text-shadow: none;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
      color: #6a6969;
      user-select: none;
      margin-left: 10rem;
      transition: 0.3s;

      &.isToggleSidebar {
        margin-left: 28rem;
        transition: 0.3s;
      }

      .school-icon {
        font-size: 2.6rem;
        margin-right: 0.8rem;
      }
    }

    // ------------------------------ Notification icon -------------------------------
    .notification-wrapper-first {
      position: relative;
      border-radius: 50%;
      background-color: rgb(233, 239, 232);
      width: 4.2rem;
      height: 4.2rem;
      cursor: pointer;

      .notification-wrapper-second {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2.8rem;
        height: 2.8rem;
        background-color: rgb(131, 185, 254);
        border-radius: 50%;

        .notification-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--primary);
          font-size: 2.2rem;
        }
      }
    }
  }

  // ------------------------------ Link -------------------------------
  .link-wrapper {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 10rem;
    left: 5rem;
    right: 5rem;
    padding: 0.9rem 1.4rem;
    background-color: var(--white);
    border-radius: 0.4rem;
    z-index: 1;

    .bg-hero-breadcrumb-item {
      font-size: 1.6rem;

      .dashboard-link-wrapper {
        display: flex;
        align-items: center;

        .dashboard-link-icon {
          margin-right: 0.3rem;
          margin-bottom: 0.3rem;
        }
      }

      a {
        color: rgba(2, 2, 2, 0.5) !important;
      }

      & + .bg-hero-breadcrumb-item {
        &::before {
          font-weight: 900;
          font-family: 'Font Awesome 5 Free';
          content: 'ï„…';
          color: rgba(35, 32, 32, 0.5) !important;
        }
      }
    }
  }
}
