@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-rotate div {
  position: absolute;
  animation: loading-rotate 1s linear infinite;
  width: 8rem;
  height: 8rem;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0 0 #1976d2;
  transform-origin: 4rem 4rem;
}

.loading-container {
  width: 5.5rem;
  height: 5.5rem;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.loading-rotate {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 50%;
  transform: translateZ(0) scale(0.55);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loading-rotate div {
  box-sizing: content-box;
}

.loader-wrapper {
  width: 100%;
  &.loginButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
  }

  &.component {
    height: 50vh;
  }
}

.rotate-item {
  position: absolute !important;
  top: 45vh !important;
  left: -4.2rem !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: all;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-overlay > div {
  width: 15rem;
  height: 15rem;
}
