.wrapper {
  display: flex;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-left: 10rem;
  transition: 0.3s;

  &.toggle-nav {
    padding-left: 28rem;
    transition: 0.3s;
  }

  .content {
    position: relative;
    flex: 1;
    background-color: #2c2c2c0a !important;
    transition: margin 0.2s linear;
    width: 100%;
    padding: 8rem 4.8rem 4.8rem 4.8rem;
    margin-top: 8rem;
  }
}
