span.md {
  font-size: 1.6rem;
  width: fit-content;
  white-space: nowrap;
}

span.lg {
  font-size: 1.8rem;
  width: fit-content;
  white-space: nowrap;
}

span.sm {
  font-size: 1.6rem;
  width: fit-content;
  white-space: nowrap;
}

.button {
  background-color: var(--primary);
  transition: 0.5s;
  border: none;
  padding: 0.8rem 2.4rem;

  &:hover {
    background-color: #3188df;
  }
}
